---
layout: default
title: Blog
---

{% for tag in site.tags %}
  <a href="https://ihybrd.github.io/index.html?{{ tag[0] }}">{{ tag[0] }}<a/>
{% endfor %}

{% assign foo_value = 123 %}
{{ foo_value }}
    
{% assign path = request.path %}
{{ path }}
{{ page.url }}
{{ page.path }}
{{ page.slug }}
    
{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%-d %b %Y" }}</li>
    {% endfor %}
  </ul>
{% endfor %}



<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%-d %b %Y" }}
    </li>
  {% endfor %}
</ul>
