---
layout: default
title: Blog
---

{% for tag in site.tags %}
  <a href="https://ihybrd.github.io/index.html?tag={{ tag[0] }}">{{ tag[0] }}<a/> 
{% endfor %}


<p id="output"></p>


<script>
  // Function to get URL parameter
  function getParameterByName(name) {
    const url = new URL(window.location.href);
    return url.searchParams.get(name);
  }

  // Example: Getting the 'name' parameter
  const name = getParameterByName('tag');
  var parent = document.getElementById('output');
  if (name) {
    {% for tag in site.tags %}
      if ("{{ tag[0] }}" == name) {
        var a = document.createElement("a");
        a.href = "https://ihybrd.github.io/index.html?tag={{ tag[0] }}";
        a.innerText = "{{ tag[0] }}";
        parent.appendChild(a);
      } else {
        var normalTextNode = document.createTextNode("{{ tag[0] }}")
        parent.appendChild(normalTextNode);
      }
    {% endfor %}


    
    {% for tag in site.tags %}
      if ("{{ tag[0] }}" == name) {
        {% for post in tag[1] %}
          var li = document.createElement('li');
          var a2 = document.createElement("a");
          a2.href = "{{ post.url }}";
          a2.innerText = "{{ post.title }}";
          var normalTextNode = document.createTextNode(' - {{ post.date | date: "%-d %b %Y" }}');
          li.appendChild(a2);
          li.appendChild(normalTextNode);
          parent.appendChild(li);
        {% endfor %}
      }
    {% endfor %}

    
  } else {
    document.getElementById("output").innerText = "Hello, guest!";
  }
</script>

    
{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%-d %b %Y" }}</li>
    {% endfor %}
  </ul>
{% endfor %}



<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%-d %b %Y" }}
    </li>
  {% endfor %}
</ul>
