---
layout: base
---

<div class="container-lg px-3 my-5 markdown-body">
      
<h1><a href="https://ihybrd.github.io/">ihybrd</a></h1>


<div id="nav_bar"></div>


<script>
  // Function to get URL parameter
  function getParameterByName(name) {
    const url = new URL(window.location.href);
    return url.searchParams.get(name);
  }

  // generating navigation bar
  // get value of parameter tag, tags are used as nav/category here
  const tag_value = getParameterByName('tag');
  var nav_bar = document.getElementById('nav_bar');
  var content_area = document.getElementById('content_area');
  
  // all button 
  if (tag_value) {
      var all = document.createElement("a");
      all.href = "https://ihybrd.github.io/index.html";
      all.innerText = "all";
      nav_bar.appendChild(all);
  } else {
    var all = document.createTextNode("all")
    nav_bar.appendChild(all);
  }
  
  // generating nav bar
  {% for tag in site.tags %}
    var splitter = document.createTextNode(" | ")
    nav_bar.appendChild(splitter);
  
    if ("{{ tag[0] }}" == tag_value) {
      var normalTextNode = document.createTextNode("{{ tag[0] }}")
      nav_bar.appendChild(normalTextNode);
    } else {
      var a = document.createElement("a");
      a.href = "https://ihybrd.github.io/index.html?tag={{ tag[0] }}";
      a.innerText = "{{ tag[0] }}";
      nav_bar.appendChild(a);
    }
  {% endfor %}  
</script>

      
{{ content }}
      
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
