---
layout: default
---
<div id="nav_bar"></div>


<script>
  // Function to get URL parameter
  function getParameterByName(name) {
    const url = new URL(window.location.href);
    return url.searchParams.get(name);
  }

  // generating navigation bar
  // get value of parameter tag, tags are used as nav/category here
  const tag_value = getParameterByName('tag');
  var nav_bar = document.getElementById('nav_bar');
  var content_area = document.getElementById('content_area');
  var wrapper = document.getElementsByClassName("wrapper")[0];

  
  // all button 
  /*if (tag_value) {
      var all = document.createElement("a");
      all.href = "https://ihybrd.github.io/index.html";
      all.innerText = "home";
      wrapper.appendChild(all);
  } else {
    var all = document.createTextNode("home")
    wrapper.appendChild(all);
  }*/
  
  // generating nav bar
  {% for tag in site.tags %}
    var splitter = document.createTextNode(" | ")
    wrapper.appendChild(splitter);
  
    if ("{{ tag[0] }}" == tag_value) {
      var normalTextNode = document.createTextNode("{{ tag[0] }}")
      wrapper.appendChild(normalTextNode);
    } else {
      var a = document.createElement("a");
      a.href = "https://ihybrd.github.io/index.html?tag={{ tag[0] }}";
      a.innerText = "{{ tag[0] }}";
      wrapper.appendChild(a);
    }
  {% endfor %}
  
</script>

<!-- Include the MathJax script for LaTeX rendering -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
        "HTML-CSS": { scale: 90 }
    });
</script>

      
{{ content }}
